<section class="articles">
    <div class="container articles__container">
        <div class="articles__head">
            <div class="articles__head-inner">
                <h2 class="articles__head-title heading-h2">Articles</h2>
                <p class="articles__head-text text-p-medium">
                    Complex tech decoded by engineers, business trends analyzed by experts.
                </p>
            </div>
            <div class="articles__head-inner-arrow">
                <span class="articles__swiper-button-next">
                    <svg
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.73635 12.5364C7.38487 12.8879 6.81503 12.8879 6.46355 12.5364L1.06355 7.13638C0.712082 6.78491 0.712082 6.21506 1.06355 5.86359L6.46356 0.463591C6.81503 0.112118 7.38488 0.112118 7.73635 0.463591C8.08782 0.815062 8.08782 1.38491 7.73635 1.73638L3.87274 5.59999L14.3 5.59999C14.797 5.59999 15.2 6.00293 15.2 6.49999C15.2 6.99704 14.797 7.39999 14.3 7.39999L3.87274 7.39999L7.73635 11.2636C8.08782 11.6151 8.08782 12.1849 7.73635 12.5364Z"
                            fill="#CED1D8"
                        />
                    </svg>
                </span>
                <span class="articles__swiper-button-prev">
                    <svg
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.73635 12.5364C7.38487 12.8879 6.81503 12.8879 6.46355 12.5364L1.06355 7.13638C0.712082 6.78491 0.712082 6.21506 1.06355 5.86359L6.46356 0.463591C6.81503 0.112118 7.38488 0.112118 7.73635 0.463591C8.08782 0.815062 8.08782 1.38491 7.73635 1.73638L3.87274 5.59999L14.3 5.59999C14.797 5.59999 15.2 6.00293 15.2 6.49999C15.2 6.99704 14.797 7.39999 14.3 7.39999L3.87274 7.39999L7.73635 11.2636C8.08782 11.6151 8.08782 12.1849 7.73635 12.5364Z"
                            fill="#CED1D8"
                        />
                    </svg>
                </span>
            </div>
        </div>
        <div class="swiper articles__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide articles__swiper-slide" id="article">
                    <img
                        src="./assets/images/about/Articles/mother-and-son-img.png"
                        class="articles__swiper-slide-img"
                        width="406"
                        height="577"
                        alt="mother and son"
                    />
                    <h2 class="articles__swiper-slide-subtitle heading-h5">
                        List of UX Designer Portfolio / Case Studies where you can make money
                    </h2>
                    <p class="articles__swiper-slide-text text-p-medium">
                        Here are some portfolios / Case Studies from UX Designers that you can use
                        as a reference for creating a portfolio. Two interesting things from their
                        portfolio are:
                    </p>
                    <button class="articles__swiper-slide-button button-form">Read More</button>
                </div>
                <div class="swiper-slide articles__swiper-slide">
                    <img
                        src="./assets/images/about/Articles/man-and-woman-img.png"
                        class="articles__swiper-slide-img"
                        width="406"
                        height="329"
                        alt="mother and son"
                    />
                    <h2 class="articles__swiper-slide-subtitle heading-h5">
                        Skyrocketing in The Designing Career, Why Not?
                    </h2>
                    <p class="articles__swiper-slide-text text-p-medium">
                        Ever thought of jumping into the world of design as a career? If not, you
                        may want to look at what the word ‘design’ actually means. Design is a
                        method of designing aesthetic actions that are carried out.
                    </p>
                    <button class="articles__swiper-slide-button button-form">Read More</button>
                </div>
                <div class="swiper-slide articles__swiper-slide">
                    <img
                        src="./assets/images/about/Articles/meeting-img.png"
                        class="articles__swiper-slide-img"
                        width="476"
                        height="695"
                        alt="mother and son"
                    />
                    <h2 class="articles__swiper-slide-subtitle heading-h5">
                        Elements that may be missed when designing the UI
                    </h2>
                    <p class="articles__swiper-slide-text text-p-medium">
                        This is an article that talks about the little elements that are often
                        overlooked when designing UI.
                    </p>
                    <button class="articles__swiper-slide-button button-form">Read More</button>
                </div>
                <div class="swiper-slide articles__swiper-slide">
                    <img
                        src="./assets/images/about/Articles/mother-and-son-img.png"
                        class="articles__swiper-slide-img"
                        alt="mother and son"
                    />
                    <h2 class="articles__swiper-slide-subtitle heading-h5">
                        List of UX Designer Portfolio / Case Studies where you can make money
                    </h2>
                    <p class="articles__swiper-slide-text text-p-medium">
                        Here are some portfolios / Case Studies from UX Designers that you can use
                        as a reference for creating a portfolio. Two interesting things from their
                        portfolio are:
                    </p>
                    <button class="articles__swiper-slide-button button-form">Read More</button>
                </div>
                <div class="swiper-slide articles__swiper-slide">
                    <img
                        src="./assets/images/about/Articles/mother-and-son-img.png"
                        class="articles__swiper-slide-img"
                        alt="mother and son"
                    />
                    <h2 class="articles__swiper-slide-subtitle heading-h5">
                        List of UX Designer Portfolio / Case Studies where you can make money
                    </h2>
                    <p class="articles__swiper-slide-text text-p-medium">
                        Here are some portfolios / Case Studies from UX Designers that you can use
                        as a reference for creating a portfolio. Two interesting things from their
                        portfolio are:
                    </p>
                    <button class="articles__swiper-slide-button button-form">Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>
