<section class="hero">
    <div class="container hero__container">
        <h1 class="hero__top-title heading-h1">Activity & Updates</h1>
        <div class="hero__top hero-decor">
            <span class="hero__top-line"></span>
            <p class="hero__top-text heading-h5">
                Our biggest challenge is making sure we're always designing and building products
                that will help you run your business better.
            </p>
        </div>
        <div class="hero__content">
            <div class="hero__content-tabs">
                <div class="hero__content-tabs-nav text-p-default">
                    <button class="hero__content-tabs-nav-item active">View all</button>
                    <button class="hero__content-tabs-nav-item">Design</button>
                    <button class="hero__content-tabs-nav-item">Articles</button>
                    <button class="hero__content-tabs-nav-item">Product</button>
                    <button class="hero__content-tabs-nav-item">Software Development</button>
                    <button class="hero__content-tabs-nav-item">Customer Success</button>
                </div>
                <div class="hero__content-tabs-content">
                    <div class="swiper hero__content-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4
                                    class="hero__content-swiper-slide-title heading-h5 hero__content-swiper-slide-title-2"
                                >
                                    Overview of the Design Principles
                                </h4>
                                <p
                                    class="hero__content-swiper-slide-text hero__content-swiper-slide-text-2"
                                >
                                    What are Design Principles?… To understand design principles, we
                                    first discuss the principles.
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-3.jpg"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Using Grid in website design
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    Andi: "What's the grid like?" Toni: “Like below…”
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                        </div>
                        <div
                            class="swiper-pagination hero__content-swiper-pagination"
                            id="about-pag"
                        ></div>
                    </div>
                </div>
                <div class="hero__content-tabs-content">
                    <div class="swiper hero__content-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-3.jpg"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4
                                    class="hero__content-swiper-slide-title heading-h5 hero__content-swiper-slide-title-2"
                                >
                                    Overview of the Design Principles
                                </h4>
                                <p
                                    class="hero__content-swiper-slide-text hero__content-swiper-slide-text-2"
                                >
                                    What are Design Principles?… To understand design principles, we
                                    first discuss the principles.
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Using Grid in website design
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    Andi: "What's the grid like?" Toni: “Like below…”
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                        </div>
                        <div
                            class="swiper-pagination hero__content-swiper-pagination"
                            id="about-pag"
                        ></div>
                    </div>
                </div>
                <div class="hero__content-tabs-content">
                    <div class="swiper hero__content-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4
                                    class="hero__content-swiper-slide-title heading-h5 hero__content-swiper-slide-title-2"
                                >
                                    Overview of the Design Principles
                                </h4>
                                <p
                                    class="hero__content-swiper-slide-text hero__content-swiper-slide-text-2"
                                >
                                    What are Design Principles?… To understand design principles, we
                                    first discuss the principles.
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-3.jpg"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Using Grid in website design
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    Andi: "What's the grid like?" Toni: “Like below…”
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                        </div>
                        <div
                            class="swiper-pagination hero__content-swiper-pagination"
                            id="about-pag"
                        ></div>
                    </div>
                </div>
                <div class="hero__content-tabs-content">
                    <div class="swiper hero__content-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4
                                    class="hero__content-swiper-slide-title heading-h5 hero__content-swiper-slide-title-2"
                                >
                                    Overview of the Design Principles
                                </h4>
                                <p
                                    class="hero__content-swiper-slide-text hero__content-swiper-slide-text-2"
                                >
                                    What are Design Principles?… To understand design principles, we
                                    first discuss the principles.
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-3.jpg"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Using Grid in website design
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    Andi: "What's the grid like?" Toni: “Like below…”
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                        </div>
                        <div
                            class="swiper-pagination hero__content-swiper-pagination"
                            id="about-pag"
                        ></div>
                    </div>
                </div>
                <div class="hero__content-tabs-content">
                    <div class="tabs__content-item swiper hero__content-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4
                                    class="hero__content-swiper-slide-title heading-h5 hero__content-swiper-slide-title-2"
                                >
                                    Overview of the Design Principles
                                </h4>
                                <p
                                    class="hero__content-swiper-slide-text hero__content-swiper-slide-text-2"
                                >
                                    What are Design Principles?… To understand design principles, we
                                    first discuss the principles.
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-3.jpg"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Using Grid in website design
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    Andi: "What's the grid like?" Toni: “Like below…”
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                        </div>
                        <div
                            class="swiper-pagination hero__content-swiper-pagination"
                            id="about-pag"
                        ></div>
                    </div>
                </div>
                <div class="hero__content-tabs-content">
                    <div class="swiper hero__content-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4
                                    class="hero__content-swiper-slide-title heading-h5 hero__content-swiper-slide-title-2"
                                >
                                    Overview of the Design Principles
                                </h4>
                                <p
                                    class="hero__content-swiper-slide-text hero__content-swiper-slide-text-2"
                                >
                                    What are Design Principles?… To understand design principles, we
                                    first discuss the principles.
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-3.jpg"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Using Grid in website design
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    Andi: "What's the grid like?" Toni: “Like below…”
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-1.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                            <div class="swiper-slide hero__content-swiper-slide">
                                <img
                                    src="../../../assets/images/about/about-hero-swiper-img-2.png"
                                    width="515"
                                    height="428"
                                    alt=""
                                />
                                <div class="hero__content-swiper-slide-signature text-p-small">
                                    <p>Published in Insight Jan 30, 2021</p>
                                    <p>by : Albert Sans</p>
                                </div>
                                <h4 class="hero__content-swiper-slide-title heading-h5">
                                    Practice making User Flow
                                </h4>
                                <p class="hero__content-swiper-slide-text">
                                    In this article, we'll cover how to create user flows
                                </p>
                            </div>
                        </div>
                        <div
                            class="swiper-pagination hero__content-swiper-pagination"
                            id="about-pag"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
