<section class="info">
    <div class="container info__container">
        <div class="info__inner">
            <div class="info__inner-AWS">
                <img
                    src="./assets/images/about/info/info-top-AWS-img.png"
                    class="info__inner-img"
                    width="584"
                    height="751"
                    alt="desk and laptop"
                />
                <h3 class="info__title heading-h3">
                    How we perform long-running tasks using AWS services
                </h3>
                <p class="info__text text-p-medium">
                    Webflow is web design tool as well as a hosting platform and CMS all in one.
                    While you are probably familiar with all of these, they are usually entirely
                    separate tools.
                </p>
            </div>
            <div class="info__inner-layout">
                <img
                    src="./assets/images/about/info/info-bottom-layout-img.png"
                    width="584"
                    height="507"
                    alt="3 people at the meeting"
                />
                <h3 class="info__title heading-h3">
                    Layout Exploration — Simple exercise but big effect
                </h3>
                <p class="info__text text-p-medium">
                    Make alternatives or other options for the design we are making. For example, we
                    are creating a website design. Then there is the testimonial section.
                </p>
            </div>
        </div>
        <div class="info__inner">
            <div class="info__inner-research">
                <img
                    src="./assets/images/about/info/info-top-research-img.png"
                    width="584"
                    height="507"
                    alt="How to ask when doing User Research"
                />
                <h3 class="info__title heading-h3">How to ask when doing User Research</h3>
                <p class="info__text text-p-medium">
                    Bro, the story is that you want to make an application for buying and selling
                    goods on the market. During user research, what do you think you will ask
                    people?
                </p>
            </div>
            <div class="info__inner-webflow">
                <img
                    src="./assets/images/about/info/info-bottom-webflow-img.png"
                    class="info__inner-img"
                    width="584"
                    height="751"
                    alt="How to ask when doing User Research"
                />
                <h3 class="info__title heading-h3">Webflow Break the Coding Barrier</h3>
                <p class="info__text text-p-medium">
                    Webflow is web design tool as well as a hosting platform and CMS all in one.
                    While you are probably familiar with all of these, they are usually entirely
                    separate tools.
                </p>
            </div>
        </div>
    </div>
</section>
