<section class="team">
    <div class="container team__container">
        <div class="team__top hero-decor">
            <h2 class="team__top-title heading-h2">
                Meet our team of creators, designers, and world-class problem solvers
            </h2>
            <p class="team__top-text text-p-medium">
                To become the company that customers want, it takes a group of passionate people.
                Get to know the people who lead
            </p>
            <div class="team__top-arrow slides__button-arrow">
                <span class="team__swiper-button-next slides__button-next">
                    <svg
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.73635 12.5364C7.38487 12.8879 6.81503 12.8879 6.46355 12.5364L1.06355 7.13638C0.712082 6.78491 0.712082 6.21506 1.06355 5.86359L6.46356 0.463591C6.81503 0.112118 7.38488 0.112118 7.73635 0.463591C8.08782 0.815062 8.08782 1.38491 7.73635 1.73638L3.87274 5.59999L14.3 5.59999C14.797 5.59999 15.2 6.00293 15.2 6.49999C15.2 6.99704 14.797 7.39999 14.3 7.39999L3.87274 7.39999L7.73635 11.2636C8.08782 11.6151 8.08782 12.1849 7.73635 12.5364Z"
                            fill="#CED1D8"
                        />
                    </svg>
                </span>
                <span class="team__swiper-button-prev slides__button-prev">
                    <svg
                        width="16"
                        height="13"
                        viewBox="0 0 16 13"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.73635 12.5364C7.38487 12.8879 6.81503 12.8879 6.46355 12.5364L1.06355 7.13638C0.712082 6.78491 0.712082 6.21506 1.06355 5.86359L6.46356 0.463591C6.81503 0.112118 7.38488 0.112118 7.73635 0.463591C8.08782 0.815062 8.08782 1.38491 7.73635 1.73638L3.87274 5.59999L14.3 5.59999C14.797 5.59999 15.2 6.00293 15.2 6.49999C15.2 6.99704 14.797 7.39999 14.3 7.39999L3.87274 7.39999L7.73635 11.2636C8.08782 11.6151 8.08782 12.1849 7.73635 12.5364Z"
                            fill="#CED1D8"
                        />
                    </svg>
                </span>
            </div>
        </div>
        <div class="swiper team__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide team__swiper-slide">
                    <img
                        src="./assets/images/overview/team-man-1-img.png"
                        loading="lazy"
                        width="379"
                        height="434"
                        alt="Man"
                    />
                    <div class="team__swiper-inner">
                        <p class="team__swiper-name text-p-large">Arlyne Stefano</p>
                        <div class="team__swiper-social">
                            <a href="#"
                                ><img
                                    src="./assets/icons/socials/team-twit-icon.svg"
                                    alt="twit"
                            /></a>
                            <a href="#"
                                ><img src="./assets/icons/socials/team-in-icon.svg" alt="in"
                            /></a>
                            <a href="#"
                                ><img
                                    src="./assets/icons/socials/team-inst-icon.svg"
                                    alt="inst"
                            /></a>
                        </div>
                    </div>
                    <p class="team__swiper-text text-p-medium">Founder & CEO</p>
                </div>
                <div class="swiper-slide team__swiper-slide">
                    <img
                        src="./assets/images/overview/team-woman-img.png"
                        loading="lazy"
                        width="379"
                        height="434"
                        alt="Man"
                    />
                    <div class="team__swiper-inner">
                        <p class="team__swiper-name text-p-large">Katy Cristy</p>
                        <div class="team__swiper-social">
                            <a href="#"
                                ><img
                                    src="./assets/icons/socials/team-twit-icon.svg"
                                    alt="twit"
                            /></a>
                            <a href="#"
                                ><img src="./assets/icons/socials/team-in-icon.svg" alt="in"
                            /></a>
                            <a href=""
                                ><img
                                    src="./assets/icons/socials/team-inst-icon.svg"
                                    alt="inst"
                            /></a>
                        </div>
                    </div>
                    <p class="team__swiper-text text-p-medium">Chief Technology Officer</p>
                </div>
                <div class="swiper-slide team__swiper-slide">
                    <img
                        src="./assets/images/overview/team-man-2-img.png"
                        loading="lazy"
                        width="379"
                        height="434"
                        alt="Man"
                    />
                    <div class="team__swiper-inner">
                        <p class="team__swiper-name text-p-large">Roger Dzawin</p>
                        <div class="team__swiper-social">
                            <a href="#">
                                <img
                                    src="./assets/icons/socials/team-twit-icon.svg"
                                    alt="twit"
                            /></a>
                            <a href="#"
                                ><img src="./assets/icons/socials/team-in-icon.svg" alt="in"
                            /></a>
                            <a href="#"
                                ><img
                                    src="./assets/icons/socials/team-inst-icon.svg"
                                    alt="inst"
                            /></a>
                        </div>
                    </div>
                    <p class="team__swiper-text text-p-medium">Chief Technology Officer</p>
                </div>
                <div class="swiper-slide team__swiper-slide">
                    <img
                        src="./assets/images/overview/team-woman-img.png"
                        loading="lazy"
                        width="379"
                        height="434"
                        alt="Man"
                    />
                    <div class="team__swiper-inner">
                        <p class="team__swiper-name text-p-large">Katy Cristy</p>
                        <div class="team__swiper-social">
                            <img
                                src="./assets/icons/socials/team-twit-icon.svg"
                                alt="twit"
                            />
                            <img src="./assets/icons/socials/team-in-icon.svg" alt="in" />
                            <img
                                src="./assets/icons/socials/team-inst-icon.svg"
                                alt="inst"
                            />
                        </div>
                    </div>
                    <p class="team__swiper-text text-p-medium">Chief Technology Officer</p>
                </div>
                <div class="swiper-slide team__swiper-slide">
                    <img
                        src="./assets/images/overview/team-man-2-img.png"
                        loading="lazy"
                        width="379"
                        height="434"
                        alt="Man"
                    />
                    <div class="team__swiper-inner">
                        <p class="team__swiper-name text-p-large">Arlyne Stefano</p>
                        <div class="team__swiper-social">
                            <img
                                src="./assets/icons/socials/team-twit-icon.svg"
                                alt="twit"
                            />
                            <img src="./assets/icons/socials/team-in-icon.svg" alt="in" />
                            <img
                                src="./assets/icons/socials/team-inst-icon.svg"
                                alt="inst"
                            />
                        </div>
                    </div>
                    <p class="team__swiper-text text-p-medium">Founder & CEO</p>
                </div>
            </div>
        </div>
        <div class="team__bottom">
            <h2 class="team__bottom-title heading-h2">
                Join our team, The one with the master touch
            </h2>
            <div class="team__bottom-content">
                <p class="team__bottom-content-text text-p-medium">
                    We believe it takes great people to make a great product. That’s why we hire not
                    only the perfect professional fits, but people who embody our company values.
                </p>
                <button class="team__bottom-content-btn text-p-default">
                    See Open Position ->
                </button>
            </div>
        </div>
    </div>
</section>
